.App {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../reading-the-Early-Church-Fathers.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vw;
  border-top-style: solid;
  border-top-width: 2vw;
  border-top-color:#750e00d2;
  border-bottom-style: solid;
  border-bottom-width: 2vw;
  border-bottom-color:#750e00d2;
}

.title-border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10.5vw;
  height: 5vw;
  width: 39vw;
  background-color:#750e00d2;
}

.title {
  color:#ba8717;
  font-size: 3vw;
  -webkit-text-stroke: .008vw #cfab5e;
  font-family: "Macondo";
  cursor: default;
}

.banner-top, .banner-bottom {
  height: .75vw;
  background-color:#cfab5e;;
}

.selection-section {
  margin-top: 1.5vw;
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites, .filter, .theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 24vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-width: 1vw;
  border-color: #750e00d2;
}

.favorites:hover, .filter:hover, .theme:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out .3s;
  border-color: #cfab5e;
}

.favorites:hover .favorites-title, .filter:hover .filter-title, .theme:hover .theme-title{
  color:#cfab5e;
  -webkit-text-stroke: .008vw #ba8717;
}

.favorites {
  background-image: url("../../sts-peter-paul.png");
}

.filter {
  background-image: url("../../fishe.jpg");
}

.theme {
  background-image: url("../../Eucharist-2.jpeg");
}

.option-title-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  width: 16vw;
  background-color:#750e00d2;
}

#favorites-border {
  width: 17vw;
}

#filter-border {
  width: 11vw;
}

#theme-border {
  width: 12vw;
}

.favorites-title, .filter-title, .theme-title {
  color:#ba8717;
  font-size: 3vw;
  -webkit-text-stroke: .008vw #cfab5e;
  font-family: "Macondo";
}

.about {
  margin-left: 86vw;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
